%h1 Informaci&oacute;n del Request
%strong URL: 
%span=@url
%br
%strong Path: 
%span=@path
%br
%strong Host: 
%span=@host
%br
%strong Port:  
%span=@port
%br
%strong IP: 
%span=@ip
%br
%strong Referrer: 
%span=@referrer
%br
%strong Request Method: 
%span=@request_method
%br
%strong Content Charset: 
%span=@content_charset
%br
%strong User Agent:  
%span=@user_agent
%br
%strong Query String: 
%span=@query_string
%br
%strong Scheme: 
%span=@scheme